@import 'variables/colors';

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.link {
  color: $blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
